@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "Inconsolata", monospace;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 200ms ease;
}

:root {
  --orange: #ef9508;
  --white: #ffffff;
  --light-grey: rgb(212, 212, 212);
  --gradient-orange: linear-gradient(-45deg, #ff6200 0%, #ef9508 100%);
  --gradient-grey: linear-gradient(-45deg, #4d4d4dbb 0%, #1b1b1bc6 100%);
  --gradient-dark-grey: linear-gradient(-45deg, #666666bb 0%, #969696c6 100%);
  --black: rgba(0, 0, 0, 0.9);
  --grey: rgb(28, 28, 28);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100dvh;
  background-color: #0a0a0a;
  background-image: url("./background.svg");
  background-repeat: repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  background-attachment: fixed, fixed;
  width: 100%;
}

.calculatrice {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(10, 10, 10, 0.8);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 5px 0px inset;
  background-image: url("./nnnoise.svg");
}

button {
  touch-action: manipulation;
  border: none;
  border-radius: 15px;
  outline: none;
  background-color: var(--darkgrey);
  font-size: 22px;
  color: var(--white);
  background: var(--gradient-grey);
  cursor: pointer;
  box-shadow: inset 0 0px 6px 0px rgba(255, 255, 255, 0.14), inset 0px 1px 2px 0px rgba(255, 255, 255, 0.11), inset 0px 2px 5px 0px rgba(255, 255, 255, 0.4), inset 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

button[data-key="96"] {
  grid-column: span 2;
  font-size: 18px;
}

button[data-key="8"],
button[data-key="53"],
button[data-key="219"] {
  background: var(--gradient-dark-grey);
}


button[data-key="111"],
button[data-key="106"],
button[data-key="109"],
button[data-key="107"],
button[data-key="13"] {
  color: var(--white);
  background: var(--gradient-orange);
}

.button-41:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.button-41:active {
  transform: scale(.95);
}

.button-32:hover {
  filter: brightness(1.1);
}

.button-32:active {
  transform: scale(.95);
}

.ecran {
  height: 100px;
  width: 100%;
  max-width: 350px;
  /* ou la largeur de ta calculatrice */
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 50px;
  color: var(--white);
  padding: 5px;
  border-radius: 5px;

  white-space: nowrap;
  /* empêche le retour à la ligne */
  overflow: hidden;
  /* cache ce qui dépasse */
  text-overflow: ellipsis;
  /* ajoute "..." si le texte est trop long */
}

.touches {
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-template-rows: repeat(5, 65px);
  grid-gap: 12px;
}

@media screen and (max-width: 450px) {

  .touches {
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 10px;
  }

  button {
    font-size: 22px;
    font-size: 20px;
  }
}